.env
notes.md
rules-cli
.rules
/rules
test-rule.yaml
e.sh

.github
.sourcegraph
.continue
.clinerules
.cursor
.windsurf
AGENT.md
CLAUDE.md

# NPM distribution
node_modules/
bin/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
